@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f1f1f1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.page-header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.navigation {
  width: 892px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 465px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navigation-link {
  padding: 20px 16px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.user-menu {
  width: 315px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.user-menu .navigation-link {
  padding: 22px 12px;
}

.favourite-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.hotel-number {
  position: absolute;
  top: 12px;
  right: 3px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
}

.want-here-button {
  padding-inline: 34px;
  background-color: #756157;
}

.main-index {
  margin-top: -10px;
  flex-grow: 1;
  text-align: center;
}

.hero {
  padding-top: 51px;
  min-height: 485px;
  background-color: #507da5;
  background-image: url("../images/background/divider.svg"), url("../images/background/hero-background.jpg");
  background-position: center bottom, center top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
}

.advantages {
  padding-top: 69px;
}

.advantages-title {
  margin: 0 auto 25px;
  padding: 0;
  width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0 0 90px 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  min-height: 385px;
  background-color: #f0f6fa;
}

.advantages-odd {
  background-color: #e6f0f6;
}

.advantage-with-image {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #82b3d3;
}

.advantages-item-title {
  margin: 0 auto 62px;
  padding: 112px 0 0;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0 auto;
  padding: 0 85px;
  width: 230px;
}

.services {
  padding-top: 64px;
}

.services-title {
  margin: 0 auto 20px;
  padding: 0;
  width: 510px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-subtitle {
  margin: 0 0 64px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  margin: 0;
  padding: 0;
  min-height: 385px;
  display: flex;
  list-style: none;
}

.services-item {
  padding: 183px 85px 81px;
  width: 400px;
}

.services-item:nth-child(odd) {
  background-color: #f0f6fa;
}

.services-item-title {
  margin: 0 0 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin: 0 auto;
  width: 230px;
}

.apartment-search {
  padding: 96px 304px;
}

.apartment-search-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.apartment-search-subtitle {
  margin: 0 0 54px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  background-color: #756157;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  padding: 96px 0 104px;
  text-align: center;
}

.subscription-index {
  background-color: #507da5;
  background-image: url("../images/background/subscribe-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-subtitle {
  margin: 0 auto 54px;
  padding: 0;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
}

.email-field {
  padding-left: 20px;
  width: 452px;
  height: 52px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.email-catalog {
  background-color: #f1f1f1;
}

.subscription-button {
  margin-left: -5px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.main-catalog {
  margin-top: -10px;
}

.main-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.search-wrapper {
  padding: 35px 70px 70px;
  background-color: #507da5;
  background-image: url("../images/background/catalog-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.infrastructure-filters {
  width: 160px;
  display: flex;
  flex-direction: column;
  border: 0;
}

.housing-filters {
  width: 160px;
  display: flex;
  flex-direction: column;
  border: 0;
}

.filter-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-name {
  line-height: 23px;
}

.price {
  width: 290px;
  border: 0;
  font-family: inherit;
  line-height: 24px;
}

.price-range {
  width: 143px;
  height: 48px;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-button {
  margin: 0 0 32px;
  background-color: #82b3d3;
}

.reset-button {
  padding-inline: 58px;
  background-color: transparent;
}

.search-results {
  padding: 50px 70px 60px;
}

.sort-wrapper {
  margin: 0 0 40px;
  display: flex;
  align-items: center;
}

.search-results-title {
  margin: 0 200px 0 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sort-order {
  margin: 0 70px 0 0;
  padding-left: 20px;
  width: 292px;
  height: 49px;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort-link {
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sort-link:not(:last-child) {
  margin-right: 8px;
}

.housing-card-list {
  margin: 0 0 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 20px;
  list-style: none;
}

.housing-card {
  margin: 0 0 20px;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.housing-card-image {
  margin: 0 0 16px;
}

.housing-card-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.housing-card-link {
  text-decoration: none;
}

.housing-card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.housing-card-type {
  margin-bottom: 16px;
  min-width: 140px;
}

.details-button {
  margin-bottom: 16px;
  padding-inline: 26px;
  background-color: #756157;
}

.add-to-favourite {
  margin-bottom: 16px;
  padding-inline: 20px;
  background-color: #81b3d3;
}

.favourite {
  margin-bottom: 16px;
  padding-inline: 18px;
  background-color: #7db54f;
}

.rating-stars {
  min-width: 140px;
}

.housing-card-rating {
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination {
  margin: 0 0 60px;
  padding: 40px 0 0;
  width: 400px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.pagination-link {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  display: block;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  line-height: 60px;
}

.page-footer {
  padding-inline: 70px;
  display: flex;
}

.socials-list {
  margin: 0 auto 0 0;
  padding: 58px 0 48px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.socials-item {
  width: 48px;
  height: 40px;
}

.socials-link {
  padding: 12px;
}

.contacts-address {
  padding: 45px 0 35px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

.developer-link {
  margin-left: auto;
  padding: 48px 0 38px;
}

.color-second {
  color: #ffffff;
}
